# arquivos Hardhat
/cache
/artifacts

# arquivos typechain
/typechain
/typechain-types

# arquivos de recuperação do solidity
/coverage
/coverage.json

# Hardhat Ignition diratóerio padrão de deploy em nó local
ignition/deployments/chain-31337

# básico
node_modules
.env
artifacts
cache

